*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

::root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
}